@import "tailwindcss";

/* Main backgroud */
.bg{
    background-color: #DCC7FF;
}
/* Nav page*/

.bg-nav{
    background-color: #2E2A3B;

}
.nav-active {
  color: #FFFFFF; /* purple */
}

.nav-inactive {
  color: #DCC7FF; /* grey */
}



/* Home page*/
.name-intro{
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.name-gradient {
    margin-top: 30%;
  background: linear-gradient(90deg, #00E5FF 45%, #2569FB 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 30px;
   text-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
   font-family:'Times New Roman', Times, serif
}


.name-stack{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.transition{
 background: linear-gradient(90deg, #C0C0C0 25%, #00E5FF 76%);
lor:#C0C0C0;
color: #FFFFFF;
font-weight: bold;
border-radius: 30px;
box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
}
.placeholder-profile{
    background-color: aliceblue;
}
.name-update{
    background-color: #E9E5F5;
}

.recent{
    text-align: center;
    color: #2E2A3B;
}
.name-topic{
    background-color: #FFFFFF;
    color: #2E2A3B;

    width: 30%;
    margin-left: 20px;
}
.recent-title{
    font-size: 16px;
    color: #2E2A3B;

}
.recent-text{
    font-size: 14px;
    color: #2E2A3B;

}