@import "tailwindcss";
/* Make the page fill the full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Footer container */
.footer-wrapper {
    width: 100%;
}

/* Footer styling */
.site-footer {
    text-align: center;
    padding: 20px;
    color: #2E2A3B;
}


/* MAIN BACKGROUND CSS */
.bg{
    background-color: #DCC7FF;
}
.header{
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color:#FFFFFF;
    font-weight: 500;
    text-shadow: 3px 5px 10px rgba(52, 53, 68, 0.3);
}
/* NAV PAGE CSS*/

.bg-nav{
    background-color: #2E2A3B;

}
.nav-active {
  color: #FFFFFF; 
}

.nav-inactive {
  color: #DCC7FF; 
}

/* HOMEP PAGE CSS*/
.name-intro{
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.name-gradient {
    margin-top: 30%;
    
  background: linear-gradient(90deg, #00E5FF 45%, #2569FB 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 30px;
   text-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
    font-family: 'Poppins',sans-serif;}


.name-stack{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    
}

.transition{
 background: linear-gradient(90deg, #C0C0C0 25%, #00E5FF 76%);
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
    border-radius: 25px;
    width: 100px;        /* stays same size everywhere */
    margin: 1 auto;      /* centers it */
    display: block;      /* required for auto-centering */
    font-family: 'Poppins', sans-serif;
}
.placeholder-profile{
    background-color: aliceblue;
}
.name-update{
    background-color: #E9E5F5;
    font-family: 'Inter', sans-serif;
}

.recent{
    text-align: center;
    color: #2E2A3B;
    font-family: 'Inter', sans-serif;
}
.name-topic{
    background-color: #FFFFFF;
    color: #2E2A3B;
    font-family: 'Inter', sans-serif;
    width: 30%;
    margin-left: 20px;
}
.recent-title{
    font-size: 16px;
    color: #2E2A3B;
    text-align: center;

}
.recent-text{
    font-size: 13px;
    color: #2E2A3B;
    margin-bottom: 4px;

}
.button {
  background: #00E5FF;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
    border-radius: 25px;
    width: 80px;        /* stays same size everywhere */
    margin: 0 auto;      /* centers it */
    display: block;      /* required for auto-centering */
    font-family: 'Poppins', sans-serif;

}




/*  ABOUT PAGE CSS*/

.about-wrapper{
      background-color: #DCC7FF; 
}
/*  Title*/

.about-title {
     text-align: center;
    color: #2E2A3B;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}
.slideshow-title{
    text-align: center;
    color: #2E2A3B;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}
/* left and right wrapper*/
.about-left{
    background-color: #E9E5F5;
    height: 500px;   /* make it taller */
    box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
    border-radius: 25px;

}
.about-right{
    background-color: #E9E5F5;
    height: 500px;   /* make it taller */
    box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
    border-radius: 25px;
    font-size: 14px;

}
.slideshow-image-wrapper{
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 4%;
}

/* about page text */
.about-text{
    margin-top: 20px;
    font-size: 13px;
    color: #2E2A3B;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;

    
}
.slideshow-text{
    text-align: center;
    font-size: 14px;
    color: #2E2A3B;
}
/* button */
.cv-button {
    background: #00E5FF;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
    border-radius: 25px;
    width: 140px;
    margin: 0 auto;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;   
}


/* Contact form */
.message-bg {
margin-top: 5%;
font-size: 15px;
background-color: #E9E5F5;
border-radius: 25px;
box-shadow: 0px 2px 10px rgba(10, 10, 10, 0.3);
font-family: 'Inter', sans-serif;
}
.contact-name{
     text-align: center;
    color: #2E2A3B;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto; 
    width: 60%;
    font-family: 'Poppins', sans-serif;
    
}
.field-name, .message{
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
.message-button{
     background: #00E5FF;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
    border-radius: 25px;
    width: 150px;        /* stays same size everywhere */
    margin: 0 auto;      /* centers it */
    display: block;      /* required for auto-centering */
    font-family: 'Poppins', sans-serif;

}
/* Service */

.service-card{
     border-top: 2px solid #FFFFFF;
     
}
.services-page{
   background-color: #E9E5F5; 
   border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3); 
}
.service-title{
    font-size: 20px;
    font-weight: bold;
    color: #2E2A3B;
    font-family: 'Poppins', sans-serif;
}
.title_sub{
    font-size: 16px;
    font-weight: bold;
    color: #2E2A3B;
    font-family: 'Poppins', sans-serif;
    
}
.title_s{
    font-size: 16px;
    font-weight:500;
    color: #2E2A3B;
    font-family: 'Poppins', sans-serif;
}
.title-text{
    font-size: 13px;
    color: #2E2A3B;
    font-family: 'Inter', sans-serif;
}
.list-service{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.Service-sub{
    font-size: 14px;
    color: #2E2A3B;
    font-family: 'Inter', sans-serif;
}

/* Project */
.port-title{
    color: #2E2A3B;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;}
.type{
    color: #2E2A3B;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    
}
.port-left{
    margin-top: 25px;
    background-color: #E9E5F5;
    color: #2E2A3B;   
}
.checkbox{
    background-color: #FFFFFF;
    
}

.select-bg{
    background-color: #FFFFFF;
    color: #2E2A3B;
    font-size: 13px;
}
.check{
    font-size: 14px;
    font-family: 'Inter', sans-serif;

    
}
.project-box{
    background-color: #E9E5F5;
    color: #2E2A3B; 
    padding: 20px;          /* adds space inside the box */
    border-radius: 25px; 
    height: 100%;   /* smooth corners */
    margin-top: 20px; 
}
.descript{
    color: #2E2A3B; 
    font-size: 13px;
}
.project-title{
    color: #2E2A3B;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}
.search{
    background-color: #FFFFFF;
    font-size: 13px;
}
.summary{
    color: #2E2A3B; 
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}
.filter-button{
    background:  #00E5FF;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
    border-radius: 25px;
    width: 50%;
    margin-left: 20%;
    font-family: 'Poppins', sans-serif;
}
.image{
    background-color: #FFFFFF;
    border-radius: 26px;
    margin: 0 auto;   
}
.project-button {
    background: #00E5FF;
    color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
    border-radius: 25px;
    width: 150px;        /* stays same size everywhere */
    margin: 0 auto;      /* centers it */
    display: block;      /* required for auto-centering */
      font-family: 'Poppins', sans-serif;
}

/* Project */
.info-box {
  background:#E9E5F5;
  border-radius: 20px;
  padding: 20px;
}
.info-sub-title{
    font-size: 16px;
    text-align: center;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
    color: #2E2A3B;
}

.info-title {
  font-size:18px;
  color: #2E2A3B;
  font-weight: bold;
 font-family: 'Poppins', sans-serif;
}

.info-descript {
  margin-bottom: 4px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #2E2A3B;

}
.info-updates-box {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 0 6px rgba(0,0,0,0.08);
  color: #2E2A3B;
}

.info-image {
  background: #eee;
  border-radius: 10px;
}

/* Admin CSS */

/* Login */

.login-wrap{
    background-color: #E9E5F5;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
}
.welcome{
    color: #2E2A3B;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.label-field{
   color: #2E2A3B;
   font-size: 14px; 
}
.input-field{
    background-color: #FFFFFF;
    
}
.login-button{
    background: #00E5FF;
    color:#FFFFFF;
    margin: 0 auto;
    width: 30%;
    border-radius: 25px;
    display: block;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
}
.message-text{
    color: #2E2A3B; 
    text-align: center;
    font-size: 14px;
}