@import "tailwindcss";
/* Make the page fill the full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Footer container */
.footer-wrapper {
    width: 100%;
}

/* Footer styling */
.site-footer {
    text-align: center;
    padding: 20px;
    color: #555;
}


/* MAIN BACKGROUND CSS */
.bg{
    background-color: #DCC7FF;
}
/* NAV PAGE CSS*/

.bg-nav{
    background-color: #2E2A3B;

}
.nav-active {
  color: #FFFFFF; 
}

.nav-inactive {
  color: #DCC7FF; 
}

/* HOMEP PAGE CSS*/
.name-intro{
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.name-gradient {
    margin-top: 30%;
  background: linear-gradient(90deg, #00E5FF 45%, #2569FB 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 30px;
   text-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
   font-family:'Times New Roman', Times, serif
}


.name-stack{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.transition{
 background: linear-gradient(90deg, #C0C0C0 25%, #00E5FF 76%);
color: #FFFFFF;
font-weight: bold;
border-radius: 30px;
box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
}
.placeholder-profile{
    background-color: aliceblue;
}
.name-update{
    background-color: #E9E5F5;
}

.recent{
    text-align: center;
    color: #2E2A3B;
}
.name-topic{
    background-color: #FFFFFF;
    color: #2E2A3B;

    width: 30%;
    margin-left: 20px;
}
.recent-title{
    font-size: 16px;
    color: #2E2A3B;

}
.recent-text{
    font-size: 14px;
    color: #2E2A3B;

}

/*  ABOUT PAGE CSS*/

.about-wrapper{
      background-color: #DCC7FF; 
}
/*  Title*/

.about-title {
     text-align: center;
    color: #2E2A3B;
    font-size: 20px;
    font-weight: bold;

}
.slideshow-title{
    text-align: center;
    color: #2E2A3B;
    font-size: 20px;
    font-weight: bold;

}
/* left and right wrapper*/
.about-left{
    background-color: #E9E5F5;
    height: 500px;   /* make it taller */
    box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);


}
.about-right{
    background-color: #E9E5F5;
    height: 500px;   /* make it taller */
    box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);

}
.slideshow-image-wrapper{
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 4%;
}

/* about page text */
.about-text{
    margin-top: 20px;
    font-size: 14px;
    color: #2E2A3B;
}
.slideshow-text{
    text-align: center;
    font-size: 14px;
    color: #2E2A3B;
}
/* button */
.cv-button {
    background: linear-gradient(90deg, #C0C0C0 25%, #00E5FF 76%);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(8, 8, 8, 0.3);
    text-align: center;
    display: block;
    margin: 40px auto 0;   /* pushes button DOWN */
    padding: 10px 20px;
}

/* Contact form */
.message-bg {
margin-top: 5%;
background-color: #E9E5F5;
box-shadow: 0px 2px 10px rgba(10, 10, 10, 0.3);
}
.contact-name{
     text-align: center;
    color: #2E2A3B;
    font-size: 20px;
    font-weight: bold;
    width: 60%
}
.field-name, .message{
    background-color: #FFFFFF;
}
.message-button{
    border-radius: 25px;
    width:40%;
    background-color: #0FA3B4;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3);
}

.service-card{
     border-top: 2px solid #FFFFFF;
}

.services-page{
   background-color: #E9E5F5; 
   border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(52, 53, 68, 0.3); 
}
.service-title{
    font-size: 20px;
    font-weight: bold;
}
.title_sub{
    font-size: 16px;
    font-weight: bold;
}
.title_s{
    font-size: 16px;
    font-weight:500;

}
.title-text{
    font-size: 13px;

}
.Service-sub{
    font-size: 14px;
}
